/* BODY & CORE STYLING*/

/* GENERICS */

html,
body {
    position: fixed; 
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}
canvas {
   position:absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: -1;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

label {
  display: inline;
  padding-left: 10px;
  white-space: nowrap;
}

/* IDs */

#title {
    position: absolute;
    background-color: transparent;
    font-family: 'Tahoma';
    font-size: 3.2vh;
    font-style: normal;
    font-weight: 400;
    color: cyan;
    top: 0vh;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    position: absolute;
    background-color: transparent;
    font-family: 'Tahoma';
    font-size: 3vh;
    font-weight: 400;
    color: rgb(255,0,255);
    bottom: 3vh;
    left: 20vw;
    width: 20vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#end {
    position: absolute;
    background-color: transparent;
    font-family: 'Tahoma';
    font-size: 3vh;
    font-weight: 400;
    color: rgb(0,255,255);
    bottom: 3vh;
    left: 40vw;
    width: 20vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fastway {
    position: absolute;
    background-color: transparent;
    font-family: 'Tahoma';
    font-size: 3vh;
    font-weight: 400;
    color: rgb(0,255,0);
    bottom: 3vh;
    left: 60vw;
    width: 20vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hidden_div {
    position: absolute;
    visibility: hidden;
    font-size: 0%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;-family: 'Tahoma';
    font-weight: 100;
    top: 0vh;
    width: 100vw;
    height: 50%;
    display: none;
}
